.item-group {
    --xyz-rotate-x: 90deg;
    --xyz-rotate-z: -180deg;
    --xyz-origin: -200%;
    --xyz-stagger: 0.1s;
    --xyz-duration: 0.75s;
    --xyz-perspective: 100px;
    --xyz-translate-z: 100px;
    --xyz-translate-y: 10vh;
  }
